@charset "UTF-8";
.jumbotron {
  background-color: #dd1414;
  color: #dd1414; }

.btn {
  color: green; }

.card-hotel {
  flex: 1 150px;
  /*el 1 es para decirle hasta cuánto puede hacer crecer su tamaño respecto a sí mismo, 1 es su propio tamaño, 2 sería el doble, 150 px es el ancho*/
  /*esta propiedad flex hace que no sea snecesario indicar a bootstrap en ancho de col que debe llevar*/
  padding: 2px 5px 2px 5px; }

.btn-reserva {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0; }

h2 {
  font-weight: bold; }

footer {
  background-color: #dd1414;
  color: black;
  padding: 10px 10px 0 10px;
  margin-bottom: 40px;
  margin-top: 0px;
  /*margin-bottom: 0px;
  margin-top: 40px;*/ }

.modal-header, h6, .close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px; }

.modal-footer {
  background-color: #f9f9f9; }

/*# sourceMappingURL=styles.css.map */
